.wrapper {
  padding: 10px 0;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-weight: 700 !important;
  color: var(--color-white) !important;
}

.item {
  color: var(--color-white) !important;
  font-weight: 500;
  margin-right: 2rem;
  position: relative;
}

.count {
  color: var(--color-primary);
  font-size: 10px;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
}
