.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContainer {
  width: 300px;
  min-height: 240px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 3rem 4rem;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: var(--text-3);
  margin-bottom: 3rem;
  text-align: center;
}

.buttonOk,
.buttonCancel {
  color: white;
  min-width: 100px;
  min-height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: var(--text-5);
  transition: var(--transition);
}

.buttonOk {
  background-color: var(--color-primary);
}

.buttonCancel {
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}

.buttonOk:hover,
.buttonCancel:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}
