.container {
  min-height: 70vh;
  padding: 8rem 0;
}

.infoContainer {
  min-height: 350px;
  padding: 0 4rem;
}

.imgContainer {
  position: relative;
  min-height: 250px;
}

.badge {
  position: absolute;
  top: 10px;
  left: -5px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  background-color: var(--color-primary);
  z-index: 10;
  color: var(--color-white);
  font-weight: 500;
}

.category {
  font-size: var(--text-5);
  color: var(--color-gray);
  text-transform: uppercase;
}
.name {
  font-size: var(--title-medium);
  font-weight: 600;
}

.sizeImg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizeImg > div {
  position: absolute;
}

.price {
  font-size: var(--title-small);
}

.select {
  margin-top: 3rem;
  font-weight: 600;
  font-size: var(--text-1);
}

.sizeContainer {
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sizeText {
  background-color: teal;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  border-radius: 40px;
  opacity: 0.6;
}
.size {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: var(--color-white);
}

.options {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.checkbox {
  opacity: 0;
  margin-right: 1.5rem;
  z-index: 2;
}

.checkboxAfter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-30%, -50%);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid var(--color-primary);
  z-index: 1;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked ~ .checkboxAfter {
  background-color: var(--color-primary) !important;
}

.add {
  margin: 3rem 0;
}

.quantity {
  border: 1px solid var(--color-gray);
  width: 50px;
  text-align: center;
  color: var(--color-gray);
  border-radius: 5px;
  height: 30px;
}

.button {
  padding: 10px 20px;
  color: white;
  margin-left: 2rem;
  font-size: var(--text-4);
}
