.container {
  padding: 5px;
  height: 100%;
}

.wrapper {
  /* padding: 20px 25px; */
  border: 1px solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.imgContainer {
  min-height: 220px;
  /* height: 200px; */
  width: 100%;
  background-position: center;
  background-size: cover;
}

.infoContainer {
  padding: 20px 25px 35px 25px;
  width: 100%;
  position: relative;
}

.title {
  font-size: var(--text-1);
  text-align: center;
  font-weight: 600;
}
.price {
  font-size: var(--text-3);
  text-align: right;
  font-weight: 500;
}
.description {
  color: var(--color-gray);
  font-size: var(--text-4);
}

.btnAddCart {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 0 14px;
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
